# === Backend ignores ===
hmcts-dev-test-backend/.gradle/
hmcts-dev-test-backend/build/
!hmcts-dev-test-backend/gradle/wrapper/gradle-wrapper.jar
hmcts-dev-test-backend/*.class
hmcts-dev-test-backend/bin/main/application.yaml

# STS
hmcts-dev-test-backend/.apt_generated
hmcts-dev-test-backend/.classpath
hmcts-dev-test-backend/.factorypath
hmcts-dev-test-backend/.project
hmcts-dev-test-backend/.settings/
hmcts-dev-test-backend/.springBeans

# IntelliJ IDEA
hmcts-dev-test-backend/.idea/
hmcts-dev-test-backend/out/
hmcts-dev-test-backend/*.iws
hmcts-dev-test-backend/*.iml
hmcts-dev-test-backend/*.ipr

hmcts-dev-test-backend/.DS_Store

hmcts-dev-test-backend/applicationinsights-agent-*.jar
hmcts-dev-test-backend/*.log

# === Frontend ignores ===
hmcts-dev-test-frontend/node_modules/
hmcts-dev-test-frontend/.nyc_output/
hmcts-dev-test-frontend/.sass-cache/
hmcts-dev-test-frontend/*.css

hmcts-dev-test-frontend/.idea/
hmcts-dev-test-frontend/*.iml

hmcts-dev-test-frontend/*swp
hmcts-dev-test-frontend/*log
hmcts-dev-test-frontend/.DS_Store

hmcts-dev-test-frontend/src/main/public/img/lib/*
hmcts-dev-test-frontend/src/main/public/js/lib/**/*.js
hmcts-dev-test-frontend/src/main/public/stylesheets/lib/*
hmcts-dev-test-frontend/src/main/resources/localhost-ssl

hmcts-dev-test-frontend/node-rpm-packaging/
hmcts-dev-test-frontend/mochawesome-report/
hmcts-dev-test-frontend/npm-debug.log.*

hmcts-dev-test-frontend/.project
hmcts-dev-test-frontend/.settings/
hmcts-dev-test-frontend/dist/
hmcts-dev-test-frontend/public/
hmcts-dev-test-frontend/src/main/views/govuk/
hmcts-dev-test-frontend/coverage/
hmcts-dev-test-frontend/smoke-output/
hmcts-dev-test-frontend/functional-output/
hmcts-dev-test-frontend/version

hmcts-dev-test-frontend/.eslintcache

hmcts-dev-test-frontend/.yarn/*
!hmcts-dev-test-frontend/.yarn/cache/*
!hmcts-dev-test-frontend/.yarn/patches
!hmcts-dev-test-frontend/.yarn/plugins
!hmcts-dev-test-frontend/.yarn/releases
!hmcts-dev-test-frontend/.yarn/sdks
!hmcts-dev-test-frontend/.yarn/versions
