{% extends "template.njk" %}

{% from "macros/error-banner.njk" import errorBanner %}

{% block content %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Page Not Found</h1>
    {{ errorBanner('404 Error', 'The page you are looking for does not exist. Please check the URL or return to the home page.') }}
    <div class="govuk-button-group" style="margin-top: 24px;">
      <a href="/" class="govuk-button govuk-button--secondary">Back to Home</a>
    </div>
  </div>
{% endblock %}
