{# macros/filter-buttons.njk #}
{% macro filterButtons() %}
  <div class="filter-button-row">
    <button class="govuk-button" type="submit">Apply</button>
    <button class="govuk-button govuk-button--secondary" type="button" onclick="window.location='/'">Clear Filters</button>
  </div>
{% endmacro %}
